.menu {
  width: 200px;
  background-color: #f1f1f1;
  padding: 0;
  height: calc(100vh - 120px); /* alto total menos header y footer */
  border-right: 1px solid #ccc;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #ddd;
}

.menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  background-color: #1976d2;
  color: white;
}

.active {
  background-color: #1565c0;
  color: white;
}
